*.sh text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.drawio text eol=lf
.prettierignore text eol=lf
.prettierrc.json text eol=lf
.eslintignore text eol=lf
.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.npmrc text eol=lf
.nvmrc text eol=lf
.tools-version text eol=lf
pnpm-workspace.yaml text eol=lf
